swfori{
    background-color: rgb(75, 75, 75);
    border-style: solid;
    border-width: 2vw;
    border-color: rgb(75, 75, 75);
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
}
swfalt{
    background-color: rgb(75, 75, 75);
    border-style: solid;
    border-width: 2vw;
    border-color: rgb(75, 75, 75);
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
}
@media screen and (orientation: landscape) {
    html{
            background-color: black;
        font-family: "Comic Sans MS";
        font-size: 1vw;
        color: white;
    }
    div.page{
        border-style: solid;
        border-width: 4vw;
        border-color: black;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 1vw;
        overflow: hidden;
        background-color: rgb(75, 75, 75);
        border-radius: 2vw;
    } 
    li {
        float: left;
    }
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        margin: 0vw 1vw;
        text-decoration: none;
        font-size: 2vw;
        border-radius: 2vw;
    }
    li a:hover {
        background-color: rgb(108, 108, 108);
    }
    .active{
        background-color: rgb(108, 108, 108);
        font-weight: bolder;
    }
    table.content{
        margin-left: auto;
        margin-right: auto;
    }
    td.swf{
        background-color: rgb(75, 75, 75);
        border-style: solid;
        border-width: 2vw;
        border-color: rgb(75, 75, 75);
        border-top-left-radius: 2vw;
        border-top-right-radius: 2vw;
    }
    td.desc{
        background-color: rgb(108, 108, 108);
        border-style: solid;
        border-width: 1vw;
        border-color: rgb(108, 108, 108);
        border-bottom-left-radius: 2vw;
        border-bottom-right-radius: 2vw;
        text-align: center;
        font-weight: bolder;
        font-size: 2vw;
    }
    td.swfm{
        display: none;
    }
    td.descm{
        display: none;
    }
}
@media screen and (orientation: portrait) {
    html{
            background-color: black;
        font-family: "Comic Sans MS";
        font-size: 2vw;
        color: white;
    }
    div.page{
        border-style: solid;
        border-width: 4vw;
        border-color: black;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 1vw;
        overflow: hidden;
        background-color: rgb(75, 75, 75);
        border-radius: 2vw;
    } 
    li {
        float: left;
    }
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        margin: 0vw 1vw;
        text-decoration: none;
        font-size: 3vw;
        border-radius: 2vw;
    }
    li a:hover {
        background-color: rgb(108, 108, 108);
    }
    .active{
        background-color: rgb(108, 108, 108);
        font-weight: bolder;
    }
    table.content{
        margin-left: auto;
        margin-right: auto;
    }
    td.swf{
        display: none;
    }
    td.desc{
        display: none;
    }
    td.swfm{
        background-color: rgb(75, 75, 75);
        border-style: solid;
        border-width: 2vw;
        border-color: rgb(75, 75, 75);
        border-top-left-radius: 2vw;
        border-top-right-radius: 2vw;
    }
    td.descm{
        background-color: rgb(108, 108, 108);
        border-style: solid;
        border-width: 1vw;
        border-color: rgb(108, 108, 108);
        border-bottom-left-radius: 2vw;
        border-bottom-right-radius: 2vw;
        text-align: center;
        font-weight: bolder;
        font-size: 3vw;
    }
}
